
.card{
    position: relative;
    width: 250px;
    height: 320px;
   
}

.ficha{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0,5s ease;
    

}

.ficha:hover{
    transform: rotateY(180deg);
     
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #C6F8EF;
    color: black;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgb(143, 224, 209);
    color: black;
    transform: rotateY(180deg);
}
