
body{
    background-image: url(fondo.png);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    
}

.logo{ 
    width: 400px;
    height: 240px;
    margin:auto;
    display:block;
}

.botones{
    margin:10px auto;
    display:flex; 
    justify-content: center;
    flex-flow: column;
    align-items: center;
    
    
}

.pukachu{
    width: 500px;
    height: 400px;
    margin: 70px;
    display:flex;
    justify-content: center;
    align-content: center; 
}

h1{
    font-family:Helvetica, sans-serif;
    font-style: normal;
}

#text, .texto {
    
    margin:50px 250px ;
    display:flex; 
    justify-content: center;
    flex-flow: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    
}



footer{
    width: 1500px;
    height: 500px;
    background-image: url(footer.png);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

