body{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;  
    
}
.logo{ 
    width: 400px;
    height: 240px;
    margin:auto;
    display:block;
}
.btnMenu{

    width: 247px;
    height: 50px;
    background: linear-gradient(90deg, #C6F8EF -6.88%, rgba(255, 255, 255, 0) 50.2%), #4CC7B1;
    border-radius: 29px;
    border: white;
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 17pt;
}

  
.botonesMenu{
  
    margin:10px auto;
    display:flex; 
    justify-content: center;
    align-items: center;
    width: 247px;
    height: 50px;
    background: linear-gradient(90deg, #C6F8EF -6.88%, rgba(255, 255, 255, 0) 50.2%), #4CC7B1;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.09);
    border-radius: 29px;
    border: white;
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 17pt;
    }

.btnFilter{
    width: 200px;
    height: 30px;
    font-weight: 400;
    font-size: 17px;
    color: #43AC99;
    background-color: white;
    border-radius: 20px;
    border: #FFFFFF;
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(121, 121, 121, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.btnFilter:hover{
    color: #ffffff;
    background-color:rgb(84, 201, 179);
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
}

.pukachu{
    background-image: url(img/pikachu.png);
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background-repeat: no-repeat;background-size: cover;
}

h1{
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(145, 145, 145);
    text-align: center;
    font-size: 18pt;
}

#text, .texto {
    margin: 25px 250px ;
    display: flex; 
    justify-content: center;
    flex-flow: column;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(110, 110, 110);
}

footer{
    height: 500px;
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pokemonGo{
    width: 300px;
    height: 190px;
    background-image: url(img/logopoke.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
    display:flex; 
    justify-content: center;
    align-items: center;

}
.animal{
    width: 22px;
    height: 22px;
    background-size: cover;
    margin-right: 12px;
    margin-top: 3px;
}

#pokemonesFiltrados{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:space-between;

}
.wrap{
    margin: 50px auto;
	display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:space-between;
    width: 300px;
    height: 350px;
    position: relative;
    perspective: 1000px;
} 


.tarjeta{
    margin: 15px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction:column;
	width: 350px;
	height: 350px;
	transform-style: preserve-3d;
    transition: 0.5s ease;
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    color: rgb(5, 126, 124);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url(img/fondoJunto3.png);
    background-repeat: no-repeat; 
    background-size: cover;  
    border-radius: 8px;
    
} 
/* imagen pokemon */
.grande{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px; 

   
} 



/* caracteristicas  */
.atras{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    transform: rotateY(180deg);
	display: flex;
    justify-content: space-around;
    backface-visibility: hidden;
	align-items: center;
    text-align: center;
    flex-direction: column-reverse; 
    color: rgb(12, 129, 110);
	font-family: Arial, Helvetica, sans-serif;
    background: rgb(137, 232, 218);
    font-size: 20px;
    background-image: url(img/fondo.png);
    background-repeat: no-repeat; 
    background-size: cover;  
    border-radius: 8px;
} 

.wrap:hover .tarjeta{
	transform: rotateY(180deg); 
} 

.wrap:hover .infopoke{
    display:none;
} 

.infopoke{
    height: 300px;
}

lo{
    text-align: left;
    padding-left: 20px;
}